body {
  font: 11px monospace;
  color: #9f9;
  background-color: #020;
}
#map {
  white-space: pre;
  width: 100%;
  max-height: 40em;
  overflow-y: auto;
}
#console {
  white-space: pre;
  width: 100%;
  max-height: 40em;
  overflow-y: auto;
}
td {
  vertical-align: top;
}
a {
  color: #020;
  background-color: #9f9;
  text-decoration: none;
  cursor: pointer;
}
